@charset 'utf-8';
*{
  padding: 0;
  margin: 0;
  color: #555;
}
#app{
  margin: auto;
  width: 94%;
  max-width: 1000px;
}
ul{
  list-style: none;
}
h3{
  text-align: center;
  margin: 5px 0;
}
h4{
  padding: 10px;
}
#app input{
  width: 100%;
  font-size: 1.5rem;
  text-indent: 5px;
  padding: 6px 0;
  text-transform: uppercase;
}
ul{
  padding: 1px;
  border: 2px solid #555;
}
li{
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  font-size: 1.2rem;
  border-top: 1px solid #888;
}
li:nth-child(1){
  border-top: none;
}
li:nth-child(2n){
  background-color: #eee;
}
.warning{
  background-color: #f5c6cb !important;
}
li span+span{
  /* border-left: 1px solid #555; */
}

